body {
    background-color: rgb(6, 27, 58);
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
.poster img{
    border: 5px solid white;
    width: 100%;
}